## TDS GA 4

### Downloading datasets

In [1]:
import gdown
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [2]:
!pip install pymysql # required to connect to mysql database

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.0/45.0 kB 866.7 kB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1

In [3]:

flights_file_id = '1Q3QVnpelPCYxIl_-doRujKvj-9bQpf_Y'
housing_file_id = '1JVaGIhvPeF_1zj4ipd3zJfL3dnwIT2Oo'

flights_destination = 'flights.parquet'
housing_destination = 'house-rent.csv'

gdown.download(f'https://drive.google.com/uc?export=download&id={flights_file_id}', flights_destination, quiet=False)
gdown.download(f'https://drive.google.com/uc?export=download&id={housing_file_id}', housing_destination, quiet=False)

Downloading...
From: https://drive.google.com/uc?export=download&id=1Q3QVnpelPCYxIl_-doRujKvj-9bQpf_Y
To: /content/flights.parquet
100%|██████████| 25.2M/25.2M [00:00<00:00, 35.6MB/s]
Downloading...
From: https://drive.google.com/uc?export=download&id=1JVaGIhvPeF_1zj4ipd3zJfL3dnwIT2Oo
To: /content/house-rent.csv
100%|██████████| 567k/567k [00:00<00:00, 83.3MB/s]

'house-rent.csv'

### Loading flights data

In [4]:
df = pd.read_parquet(flights_destination)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5819079 entries, 0 to 5819078
Data columns (total 4 columns):
 #   Column               Dtype
---  ------               -----
 0   DEPARTURE_DELAY      float64
 1   ARRIVAL_DELAY        float64
 2   DISTANCE             int64
 3   SCHEDULED_DEPARTURE  float64
dtypes: float64(3), int64(1)
memory usage: 177.6 MB

### Q1

In [6]:
flight_distance = 1250
scheduled_departure_start = 11
scheduled_departure_end = 18

filtered_df = df[(df['DISTANCE'] < flight_distance) & (df["SCHEDULED_DEPARTURE"] >= scheduled_departure_start) & (df["SCHEDULED_DEPARTURE"] < scheduled_departure_end)].copy()
filtered_df["DEPARTURE_DELAY"] = filtered_df["DEPARTURE_DELAY"].fillna(0)
filtered_df["ARRIVAL_DELAY"] = filtered_df["ARRIVAL_DELAY"].fillna(0)
correlation_filtered = filtered_df['DEPARTURE_DELAY'].corr(filtered_df['ARRIVAL_DELAY'])
correlation_filtered

0.9437115528577695

### Q2

In [7]:
flight_distance = 1450
scheduled_departure_start = 4
scheduled_departure_end = 17

filtered_df = df[(df['DISTANCE'] < flight_distance) & (df['SCHEDULED_DEPARTURE'] >= scheduled_departure_start) & (df['SCHEDULED_DEPARTURE'] < scheduled_departure_end)].copy()
filtered_df["DEPARTURE_DELAY"] = filtered_df["DEPARTURE_DELAY"].fillna(0)
filtered_df["ARRIVAL_DELAY"] = filtered_df["ARRIVAL_DELAY"].fillna(0)
correlation_filtered = filtered_df['DEPARTURE_DELAY'].corr(filtered_df['ARRIVAL_DELAY'])
correlation_filtered

0.9398934755607781

### Q3

In [8]:
flight_distance = 2800
scheduled_departure_start = 14
scheduled_departure_end = 15

filtered_df = df[(df['DISTANCE'] < flight_distance) & (df['SCHEDULED_DEPARTURE'] >= scheduled_departure_start) & (df['SCHEDULED_DEPARTURE'] < scheduled_departure_end)].copy()
filtered_df.dropna(axis=0, inplace=True)
Q1 = filtered_df["ARRIVAL_DELAY"].quantile(0.25)
Q3 = filtered_df["ARRIVAL_DELAY"].quantile(0.75)
IQR = Q3 - Q1
lb = Q1 - 1.5 * IQR
ub = Q3 + 1.5 * IQR
condition = (filtered_df["ARRIVAL_DELAY"] < lb) | (filtered_df["ARRIVAL_DELAY"] > ub)
filtered_df[condition].shape[0]

28272

### Q4

In [9]:
flight_distance = 2550
scheduled_departure_start = 7
scheduled_departure_end = 8

filtered_df = df[(df['DISTANCE'] < flight_distance) & (df['SCHEDULED_DEPARTURE'] >= scheduled_departure_start) & (df['SCHEDULED_DEPARTURE'] < scheduled_departure_end)].copy()
filtered_df.dropna(axis=0, inplace=True)
Q1 = filtered_df["ARRIVAL_DELAY"].quantile(0.25)
Q3 = filtered_df["ARRIVAL_DELAY"].quantile(0.75)
IQR = Q3 - Q1
lb = Q1 - 1.5 * IQR
ub = Q3 + 1.5 * IQR
condition = (filtered_df["ARRIVAL_DELAY"] < lb) | (filtered_df["ARRIVAL_DELAY"] > ub)
filtered_df[condition].shape[0]

26247

### Loading house rent dataset

In [10]:
df = pd.read_csv(housing_destination)

### Q5

In [11]:
furnishing_stat_A = "Furnished"
city_A = "Hyderabad"

furnishing_stat_B = "Furnished"
city_B = "Chennai"

filtered_df_A = df[(df["Furnishing Status"] == furnishing_stat_A) & (df["City"] == city_A)]
filtered_df_B = df[(df["Furnishing Status"] == furnishing_stat_B) & (df["City"] == city_B)]

slope_a, intercept_a = np.polyfit(filtered_df_A['Size'], filtered_df_A['Rent'], 1)
slope_b, intercept_b = np.polyfit(filtered_df_B['Size'], filtered_df_B['Rent'], 1)

abs(slope_b - slope_a)

24.63941297292633

### Q6

In [13]:
furnishing_stat_A = "Semi-Furnished"
city_A = "Chennai"

furnishing_stat_B = "Semi-Furnished"
city_B = "Delhi"

filtered_df_A = df[(df["Furnishing Status"] == furnishing_stat_A) & (df["City"] == city_A)]
filtered_df_B = df[(df["Furnishing Status"] == furnishing_stat_B) & (df["City"] == city_B)]

slope_a, intercept_a = np.polyfit(filtered_df_A['Size'], filtered_df_A['Rent'], 1)
slope_b, intercept_b = np.polyfit(filtered_df_B['Size'], filtered_df_B['Rent'], 1)

abs(slope_b - slope_a)

5.048950058878432

### Loading mysql dataset

In [14]:
engine = create_engine("mysql+pymysql://guest:relational@db.relational-data.org/restbase")
table_name = "generalinfo"
df = pd.read_sql(f'SELECT * FROM {table_name}', engine)

### Q9

In [15]:
food_type = 'afghani'
target_city = 'concord'

total_restaurants = df.groupby('city').size()
food_type_restaurants = df[df['food_type'] == food_type].groupby('city').size()
percentage_bar = (food_type_restaurants / total_restaurants) * 100
percentage_bar = percentage_bar.fillna(0)
target_city_percentage = percentage_bar.get(target_city, 0)
higher_percentage_count = (percentage_bar > target_city_percentage).sum()
higher_percentage_count

4

### Q10

In [16]:
food_type = 'barbeque'
target_city = 'san jose'

total_restaurants = df.groupby('city').size()
food_type_restaurants = df[df['food_type'] == food_type].groupby('city').size()
percentage_bar = (food_type_restaurants / total_restaurants) * 100
percentage_bar = percentage_bar.fillna(0)
target_city_percentage = percentage_bar.get(target_city, 0)
higher_percentage_count = (percentage_bar > target_city_percentage).sum()
higher_percentage_count

16